:host {
    --attribute-icon-size: 20px;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.clickable {
    cursor: pointer;
}

.entity-spacing:first-child {
    margin-top: 0;
}
.entity-spacing:last-child {
    margin-bottom: 0;
}

.entity-row {
    display: flex;
    align-items: center;
    margin: 8px 0;
}
.entity-row .name {
    flex: 1;
    margin: 0 6px;
}
.entity-row .secondary {
    color: var(--primary-color);
}
.entity-row .icon {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    margin-right: 10px;
}

.compact-view .state {
    --mdc-icon-size: var(--attribute-icon-size);
    font-size: var(--paper-font-caption_-_font-size);
}
.state {
    display: flex;
    margin-left: 7px;
}
.state > * {
    margin-left:5px;
}
.state > *:first-child {
    margin-left: 0;
}
.state > div {
    line-height: 24px;
}

.compact-view .state {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.compact-view .state > div {
    line-height: normal;
}
.compact-view .state > .label {
    margin-top: 1px; /* fix for small misalignment if you have icon next to label */
    color: var(--primary-color);
    line-height: var(--attribute-icon-size);
}

.compact-view .state > * {
    margin: 0;
}